.arrow {
  background-size: cover;
  background-color: var(--light-text);
  border-radius: 50%;
  border-color: transparent;
  transition: border-color 250ms linear;
  cursor: pointer;

  &:hover,
  &:focus {
    border-color: var(--light-rose);
    transition: border-color 250ms linear;
  }
}

.pressbutton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  font-family: var(--second-font);
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25em;
  color: var(--bold-rose);
  border-radius: 20px;
  border-color: transparent;
  background-color: var(--light-text);
  transition: background-color 250ms linear;
  cursor: pointer;

  &:hover,
  &:focus {
    border-color: var(--pistachio-color);
    transition: border-color 250ms linear;
  }

  @media screen and (min-width: 1280px) {
    height: 40px;
    font-size: 14px;
    line-height: 1.3em;
  }
}

.pressbutton-arrow {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3em;
  color: var(--bold-rose);
  border-radius: 22px;
  border-color: transparent;
  background-color: var(--light-text);
  transition: background-color 200ms linear;
  cursor: pointer;

  &:hover,
  &:focus {
    border-color: var(--pistachio-color);
    transition: border-color 250ms linear;
  }

  &::after {
    content: "";
    margin-left: 12px;
    background-image: url("/images/png/arrow.png");
    width: 7px;
    height: 10px;
    background-repeat: no-repeat;
  }
}