:root {
  // Fonts
  --main-font: 'Titan One', cursive;
  --second-font: 'DM Sans', sans-serif;
  // Text color
  --accent-text: #000000;
  --secondary-text: #907e82;
  --light-text: #ffffff;
  --light-rose: #ffa5ba;
  --bold-rose: #d41443;
  // Background color
  --background-color: #e5e5e5;
  --rose-color: #ffb8ca;
  --coffee-color: #f0d1a5;
  --pistachio-color: #c2e297;
}