.collage-section {
    margin-top: -48px;

    // background-color: var(--light-text);
    @media screen and (min-width: 480px) {}

    @media screen and (min-width: 768px) {
        margin-top: -106px;
    }

    @media screen and (min-width: 1280px) {
        margin-top: -171px;
    }
}

.collage {
    &__image {
        height: 122px;

        @media screen and (min-width: 480px) {}

        @media screen and (min-width: 768px) {
            height: 264px;
        }

        @media screen and (min-width: 1280px) {
            height: 430px;
        }
    }
}