.hero-section {
  // overflow: hidden;
  background-color: var(--accent-color);
}

.hero {
  position: relative;
  height: 502px;

  @media screen and (min-width: 768px) {
    height: 399px;
  }
  @media screen and (min-width: 1280px) {
    height: 665px;
  }

  &__caption {
    position: absolute;
    top: 193px;
    left: 20px;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.15em;
    text-transform: uppercase;
    color: var(--light-text);
    text-align: left;
    z-index: 1;
    @media screen and (min-width: 768px) {
      top: 102px;
      left: 34px;
      font-size: 22px;
      line-height: 1.14em;
    }
    @media screen and (min-width: 1280px) {
      top: 171px;
      left: 115px;
      font-size: 38px;
      line-height: 1.16em;
    }
  }

  &__title--bold {
    font-size: 48px;
    line-height: 96.5%;
    color: var(--bold-rose);
    @media screen and (min-width: 768px) {
      font-size: 34px;
      line-height: 90.5%;
    }
    @media screen and (min-width: 1280px) {
      font-size: 58px;
    }
  }

  &__milk-glass {
    @media screen and (min-width: 768px) {
      position: absolute;
      top: 245px;
      left: 34px;
      width: 124px;
      height: 126px;
      background-image: url('/images/png/milk-glass_tablet.png');
      background-size: cover;
    }
    @media (min-device-pixel-ratio: 2) and (min-width: 768px),
      (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px),
      (min-resolution: 192dpi) and (min-width: 768px),
      (min-resolution: 2dppx) and (min-width: 768px) {
      background-image: url('/images/png/milk-glass_tablet@2x.png');
    }

    @media screen and (min-width: 1280px) {
      background-image: url('/images/png/milk-glass_desktop.png');
      top: 429px;
      left: 77px;
      width: 188px;
      height: 191px;
    }
    @media (min-device-pixel-ratio: 2) and (min-width: 1280px),
      (-webkit-min-device-pixel-ratio: 2) and (min-width: 1280px),
      (min-resolution: 192dpi) and (min-width: 1280px),
      (min-resolution: 2dppx) and (min-width: 1280px) {
      background-image: url('/images/png/milk-glass_desktop@2x.png');
    }
  }

  &__text {
    position: absolute;
    display: none;
    text-align: left;
    @media screen and (min-width: 480px) {
    }
    @media screen and (min-width: 768px) {
      display: block;
      top: 292px;
      left: 154px;
      font-family: var(--second-font);
      font-size: 8px;
      line-height: 150%;
      color: var(--light-text);
    }
    @media screen and (min-width: 1280px) {
      top: 485px;
      left: 295px;
      font-size: 14px;
      line-height: 140%;
    }
  }

  &__button {
    position: absolute;
    display: none;
    width: 26px;
    height: 26px;
    @media screen and (min-width: 480px) {
    }
    @media screen and (min-width: 768px) {
      display: block;
      top: 347px;
      left: 154px;
      background-image: url('/images/png/hero-arrow_table.png');
    }
    @media (min-device-pixel-ratio: 2) and (min-width: 768px),
      (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px),
      (min-resolution: 192dpi) and (min-width: 768px),
      (min-resolution: 2dppx) and (min-width: 768px) {
      background-image: url('/images/png/hero-arrow_table@2x.png');
    }

    @media screen and (min-width: 1280px) {
      top: 583px;
      left: 295px;
      background-image: url('/images/png/hero-arrow_desktop.png');
    }
    @media (min-device-pixel-ratio: 2) and (min-width: 1280px),
      (-webkit-min-device-pixel-ratio: 2) and (min-width: 1280px),
      (min-resolution: 192dpi) and (min-width: 1280px),
      (min-resolution: 2dppx) and (min-width: 1280px) {
      background-image: url('/images/png/hero-arrow_desktop@2x.png');
    }
  }

  &__ellipse {
    position: absolute;
    top: 83px;
    right: -62px;
    width: 346px;
    height: 344px;
    border-radius: 50%;
    background-color: #ffa5ba;
    @media screen and (min-width: 768px) {
      top: 31px;
      left: 307px;
      width: 324px;
      height: 322px;
    }
    @media screen and (min-width: 1280px) {
      top: 52px;
      left: 475px;
      right: 267px;
      width: 538px;
      height: 538px;
    }
  }

  &__ice-cream {
    position: absolute;
    top: 92px;
    right: 32px;
    width: 171px;
    height: 410px;
    background-image: url('/images/png/ice-cream_mobile.png');
    background-size: cover;
    @media (min-device-pixel-ratio: 2) and (max-width: 767px),
      (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px),
      (min-resolution: 192dpi) and (max-width: 767px),
      (min-resolution: 2dppx) and (max-width: 767px) {
      background-image: url('/images/png/ice-cream_mobile@2x.png');
    }

    @media screen and (min-width: 768px) {
      top: 63px;
      left: 378px;
      width: 143px;
      height: 336px;
      background-image: url('/images/png/ice-cream_tablet.png');
    }
    @media (min-device-pixel-ratio: 2) and (min-width: 768px),
      (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px),
      (min-resolution: 192dpi) and (min-width: 768px),
      (min-resolution: 2dppx) and (min-width: 768px) {
      background-image: url('/images/png/ice-cream_tablet@2x.png');
    }

    @media screen and (min-width: 1280px) {
      top: 108px;
      left: 594px;
      width: 236px;
      height: 557px;
      background-image: url('/images/png/ice-cream_desktop.png');
    }
    @media (min-device-pixel-ratio: 2) and (min-width: 1280px),
      (-webkit-min-device-pixel-ratio: 2) and (min-width: 1280px),
      (min-resolution: 192dpi) and (min-width: 1280px),
      (min-resolution: 2dppx) and (min-width: 1280px) {
      background-image: url('/images/png/ice-cream_desktop@2x.png');
    }
  }

  &__number--16 {
    position: absolute;
    @media screen and (min-width: 768px) {
      top: 94px;
      right: 34px;
      width: 43px;
      height: 44px;
      background-image: url('/images/png/16_tablet.png');
    }

    @media screen and (min-width: 1280px) {
      top: 156px;
      right: 97px;
      width: 72px;
      height: 77px;
      background-image: url('/images/png/16_desktop.png');
    }
  }

  &__number--23 {
    position: absolute;
    @media screen and (min-width: 768px) {
      top: 151px;
      right: 34px;
      width: 51px;
      height: 43px;
      background-image: url('/images/png/23_tablet.png');
    }

    @media screen and (min-width: 1280px) {
      top: 248px;
      right: 97px;
      width: 92px;
      height: 76px;
      background-image: url('/images/png/23_desktop.png');
    }
  }

  &__girl {
    position: absolute;
    @media screen and (min-width: 768px) {
      top: 266px;
      right: 34px;
      width: 168px;
      height: 133px;
      background-image: url('/images/png/girl_tablet.png');
    }

    @media screen and (min-width: 1280px) {
      top: 433px;
      right: 109px;
      width: 293px;
      height: 232px;
      background-image: url('/images/png/girl_desktop.png');
    }
  }
}
