.products-section {
  margin-bottom: 98px;
  background-color: var(--light-color);

  @media screen and (min-width: 768px) {
    margin-bottom: 112px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 119px;
  }
}

.products {
  padding-top: 121px;

  @media screen and (min-width: 768px) {
    padding-top: 122px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 127px;
  }

  &__list {
    margin-top: 31px;

    @media screen and (min-width: 768px) {
      display: flex;
      margin-top: 39px;
    }

    @media screen and (min-width: 1280px) {
      margin-top: 49px;
    }
  }

  &__list-item {
    position: relative;
    margin: 0 auto;
    padding-top: 113px;

    &:not(:last-child) {
      margin-bottom: 17px;
    }

    &:first-child .products__list-container {
      background-color: var(--rose-color);
    }

    &:nth-child(2) .products__list-container {
      background-color: var(--coffee-color);
    }

    &:last-child .products__list-container {
      background-color: var(--pistachio-color);
    }

    @media screen and (min-width: 480px) {
      width: 280px;
    }

    @media screen and (min-width: 768px) {
      width: 217px;
      padding-top: 0;

      &:not(:last-child) {
        margin-bottom: 0;
        margin-right: 24px;
      }
    }

    @media screen and (min-width: 1280px) {
      width: 335px;
    }
  }

  &__list-photo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    min-width: 249px;
    height: 252px;

    &:hover,
    &:focus {
      transform: translate(-50%, 0) scale(1.2);
      transition: transform 300ms linear;
    }

    @media screen and (min-width: 768px) {
      min-width: 100%;
      height: auto;
    }
  }

  &__list-container {
    padding-top: 161px;
    border-radius: 24px;

    @media screen and (min-width: 768px) {
      margin-top: 104px;
      padding-top: 152px;
    }

    @media screen and (min-width: 1280px) {
      margin-top: 210px;
      padding-top: 163px;
    }
  }

  &__list-title {
    margin-bottom: 15px;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15em;
    text-transform: uppercase;
    color: var(--light-text);

    @media screen and (min-width: 1280px) {
      margin-bottom: 25px;
      font-size: 30px;
      line-height: 1.13em;
    }
  }

  &__icon {
    width: 26px;
    height: 26px;
    margin-bottom: 10px;

    @media screen and (min-width: 1280px) {
      margin-bottom: 15px;
    }
  }

  &__list-text {
    margin-bottom: 30px;
    padding: 0 41px;
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 152%;
    color: var(--light-text);

    @media screen and (min-width: 768px) {
      margin-bottom: 40px;
      padding: 0 11px;
      line-height: 176%;
    }

    @media screen and (min-width: 1280px) {
      margin-bottom: 62px;
      padding: 0 44px;
      font-size: 16px;
    }
  }

  &__button {
    margin-bottom: 41px;
    width: 40px;
    height: 40px;
    background-image: url('/images/png/product-arrow.png');

    @media screen and (min-width: 768px) {
      margin-bottom: 40px;
    }

    @media screen and (min-width: 1280px) {
      margin-bottom: 50px;
    }
  }
}